@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Schibsted Grotesk', sans-serif;
    min-height: 100vh;
    background-color: aquamarine;
    /* background-image: linear-gradient(to left, steelblue, rgba(230, 230, 255, 0.3));
    background-repeat: repeat-x; */
}

.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url(lime_doe.webp);
    background-size: 100%;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text; /* common prefix for browsers, rarely used tag */
    color: rgba(155, 241, 128, 0.61)
}

/* start of reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
/* end of reset */

/* utility classes */
.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px
}
/* end utility classes */

.example {
    margin-top: 1rem;
    padding-left: 20px;
}

.example img {
    width: 25%;
    height: auto;
}

.profile-pic-figure {
    width: 35%;
}

.hero {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: rgba(138, 233, 129, 0.4);
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

figcaption {
    text-align: center;
    font-style: oblique;
}

.h1 {
    font-size: 300%;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
    background-color: rgba(154, 243, 169, 0.986);
    padding: 0.25rem;
    border-radius: 0.75rem;
}

.container {
    background-image: url(lime_doe.webp);
    background-position: center center;
    background-size: cover;
}