@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Schibsted Grotesk', sans-serif;
    min-height: 100vh;
}

/* start of reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
/* end of reset */

/* utility classes */
.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px
}
/* end utility classes */

.example {
    margin-top: 1rem;
    padding-left: 20px;
}

.example img {
    width: 25%;
    height: auto;
}

.profile-pic-figure {
    width: 35%;
}

.hero {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    background-color: rgb(138, 233, 129);
    background-image: url(lime_doe.webp);
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

figcaption {
    text-align: center;
    font-style: oblique;
}

.h1 {
    font-size: 300%;
}